# Direnv has (see man direnv-stdlib for documentation) 
if ! has op; then
  echo "---"
  echo "Please install one password client and authenticate" 
  echo "Go to https://developer.1password.com/docs/cli/get-started/#install"
fi 

# Imagine that each project has a OP Vault per Environment 
# The OP_VAULT variable here can then be set to the Project specific environment vault name
export OP_VAULT="Shared"
#direnv_load op inject -i env.template -- direnv dump

# Sorce the env.template file. 1password will expand the op:// values to their corresponding secrets
# $OP_VAULT will resolve as a shell environment variable to its value prior to 
# op:// expansion thus determiniing dynamically which vault to use
set -o allexport
source <(op inject -i env.template)
set +o allexport

echo 
echo "If OP authentication worked and you have OP access to the Shared vault"
echo "   Then now the neccessary AWS credentials should be availale" 
echo 
echo "please try the following command and you should see the relevant S3 buckets"
echo "   aws s3 ls"
echo
echo "Please also try the other two scripts provided. s3ls.sh and s3ls.py"
