# Direnv has (see man direnv-stdlib for documentation) 
if ! has op; then
  echo "---"
  echo "Please install one password client and authenticate" 
  echo "Go to https://developer.1password.com/docs/cli/get-started/#install"
fi 


## Fetch secrets fron onepassword 
export AWS_ACCESS_KEY_ID=$(op item get "AWS - reiktar" --fields access_key_id)
export AWS_SECRET_ACCESS_KEY=$(op item get "AWS - reiktar" --fields secret_access_key)


echo 
echo "If OP authentication worked and you have OP access to the Shared vault"
echo "   Then now the neccessary AWS credentials should be availale" 
echo 
echo "please try the following command and you should see the relevant S3 buckets"
echo "   aws s3 ls"
echo
echo "Please also try the other two scripts provided. s3ls.sh and s3ls.py"
